body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.logo-nav {
  display: flex;
  align-items: center;
  padding-left: 15px;
  flex: 1;
}

.nav-general {
  display: flex;
  /* max-width: 1200px; */
  /* justify-content: flex-start; */
  gap: 50px;
  padding: 0;
  border-bottom: 1px solid #ececec;
  /* align-items: center; */
}

.ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 30px;
}

.logo-web {
  color: #2196f3;
}

.nav-flex {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  gap: 1;
  /* flex: 1; */
}

.logo {
  font-family: "Raleway", sans-serif;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 1.62rem;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

/* .div-contact {
  align-items: center;
} */

.nav-flex-contact {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-flow: row nowrap;
  /* justify-content: flex-end; */
  list-style: none;
  padding-right: 27px;
}

.nav-agency {
  color: #212121;
  text-decoration: none;
}

.nav-agency:active,
.nav-agency:focus,
.nav-agency:hover,
.nav-portfolio:active,
.nav-portfolio:focus,
.nav-portfolio:hover,
.nav-contact:active,
.nav-contact:focus,
.nav-contact:hover,
.mail:active,
.mail:focus,
.mail:hover,
.tel:active,
.tel:focus,
.tel:hover,
.nav-portfolio-main:active,
.nav-portfolio-main:focus,
.nav-portfolio-main:hover {
  color: #2196f3;
  cursor: pointer;
}

.nav-portfolio,
.nav-portfolio-main {
  color: #212121;
  text-decoration: none;
}

.nav-contact {
  color: #212121;
  text-decoration: none;
}

.mail {
  font-size: 0.87rem;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.tel {
  font-size: 0.87rem;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.header {
  background: #2f303a;
  padding-left: 15px;
  padding-right: 15px;
}

.h1 {
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding-top: 109px;
  flex-wrap: wrap;
  margin: 0;
}

.order-button {
  background: #2196f3;
  border-radius: 4px;
  justify-content: center;
  align-self: auto;
  box-shadow: 0px 4px 4px #212121;
  outline: none;
  border: none;
  padding: 10px 41px 10px 42px;
}

.order-text {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.section .main {
  background: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 0;
}

.about {
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.topic-one {
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}

.topic-two {
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.14;
  text-align: left;
}

.topic-three {
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.14;
  text-align: left;
}

.topic-four {
  font-weight: 700;
  font-size: 0.87rem;
  line-height: 1.14;
  text-align: left;
}

.workplace {
  width: 370px;
  height: 294px;
}

.phone {
  width: 370px;
  height: 294px;
}

.tablet {
  width: 370px;
  height: 294px;
}

.footer {
  background-color: #2f303a;
  margin: 0 auto;
}

.logo-studio {
  color: #ffffff;
}

.address {
  font-size: 0.87rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 9px;
  padding-bottom: 60px;
}

.header-john-doe {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.18;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  display: block;
  margin-top: 30px;
  /* margin-bottom: 59px; */
}

.job-position {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  padding-bottom: 30px;
}

.footer-mail {
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff99;
}

.footer-mail:active {
  color: #2196f3;
}

.footer-tel {
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff99;
}

.footer-tel:active {
  color: #2196f3;
}

.logo-footer-flex {
  display: block;
  padding-right: 15px;
  padding-top: 60px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #2196f3;
  color: #ffffff;
}
.all,
.pages,
.apps,
.design,
.marketing {
  font-size: 1rem;
  line-height: 1.62;
}

.button {
  background: #f5f4fa;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-type {
  font-size: 1rem;
  line-height: 1.87;
  color: #757575;
  padding: 4px 24px 20px 24px;
}

.caption {
  padding-top: 20px;
  font-weight: 700;
  font-size: 1.12rem;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-left: 24px;
  padding-right: 24px;
}

.nav {
  font-weight: 500;
  font-size: 0.87rem;
  line-height: 1.14;
  text-decoration: none;
  padding: 0;
  color: #212121;
  display: flex-start;
  flex: 1;
  gap: 35px;
  justify-content: flex-start;
  margin-left: 93px;
}

.nav-portfolio {
  color: #2196f3;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content {
  background: #ffffff;
}

.main-content-flex {
  display: flex;
  gap: 30px;
  list-style: none;
}

.container-header {
  display: flex;
  padding-left: 252px;
  padding-right: 252px;
  flex-direction: column;
  align-items: center;
}

.button-flex {
  margin-bottom: 104px;
  padding-top: 30px;
}

.flex-main {
  background: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 30px;
}

.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  margin: 0;
}
.team-content {
  background: #f5f4fa;
}

.team-photos {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-evenly;
}

.team-card {
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
}

.ul-portfolio {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  list-style: none;
  justify-content: center;
}

.main-portfolio {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: 30px;
  /* padding-left: 15px;
  padding-right: 15px; */
  padding-bottom: 94px;
}

.ul-portfolio-button {
  display: block;
  padding: 6px 24px;
}

.footer-mail-portfolio {
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff99;
  text-decoration: underline;
  text-decoration-color: #ffffff99;
}

.section .portfolio {
  padding-top: 94px;
  padding-bottom: 0px;
}

.menu-portfolio {
  padding-bottom: 50px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.62rem;
  line-height: 1.19;
  color: #2196f3;
}

.li-flex {
  width: calc((100%- 2 * 30px) / 3);
  vertical-align: center;
}

.li-description {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.img-portfolio {
  vertical-align: middle;
}
